body {
  margin: 0;
  font-family: Calibri;
}
.indextop {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.innerindextop{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.GoButton,#Adminsub,#admincheckadd,#adminaddval,#confirmadd {
  background-color: #555555;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#gobackhome {
  background-color: #272536;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

#EnglishwordTab1, #GermanwordTab1
{
	font-weight: bold;
}

/*Table CSS*/
#Dicresults {
  margin-top:20px;
  border-collapse: collapse;
  width: 60%;
}

#Dicresults td, #Dicresults th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Dicresults tr:nth-child(even){background-color: #f2f2f2;}

#Dicresults tr:hover {background-color: #ddd;}

#Dicresults th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #581845;
  color: white;
}
/*Table CSS ENDS Here*/

/*Table CSS*/
#TableList {
  margin-top:20px;
  border-collapse: collapse;
  width: 60%;
}

#TableList td, #TableList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#TableList tr:nth-child(even){background-color: #CAD6F4;}

#TableList tr:hover {background-color: #f7ba48;}

#TableList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #272536; */
  background-color: #7092BE;
  color: white;
}
/*Table CSS ENDS Here*/

/*Table CSS*/
#TableListgg {
  margin-top:20px;
  border-collapse: collapse;
  width: 50%;
}

#TableListgg td, #TableListgg th {
  border: 1px solid #ddd;
  padding: 8px;
}

#TableListgg tr:nth-child(even){background-color: #CAD6F4;}

#TableListgg tr:hover {background-color: #f7ba48;}

#TableListgg th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #272536; */
  background-color: #7092BE;
  color: white;
}
/*Table CSS ENDS Here*/

#TableLista {
  margin-top:20px;
  border-collapse: collapse;
  width: 60%;
}

#TableLista td, #TableLista th {
  border: 1px solid #ddd;
  padding: 8px;
}

#TableLista tr:nth-child(even){background-color: #CAD6F4;}

#TableLista tr:hover {background-color: #f7ba48;}

#TableLista th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7092BE;
  color: white;
}
.tablerowsno{
  text-align:center;
  width: 75px; 
}
.tableengger{
  text-align:center;
  width: 300px; 
}

.pgclass
{
	padding:5px;
	font-size:16px;
	cursor:pointer;
}
.alphav
{
	padding:1.3px;
}

.termsimg{
	width:20%;
}

.homeindexmenuclass {
  overflow: hidden;
  /* background-color: #538790; */
  background-color: #7092BE;
}

.homeindexmenuclass a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.homeindexmenuclass a:hover {
  background-color: #ddd;
  color: black;
}

.homeindexmenuclass a.active {
  background-color: #040404;
  color: white;
}

.homeindexmenuclass .icon {
  display: none;
}
.homeindexmenuclass #hiadmin {
   float: right; 
   position: relative;   
}
@media screen and (max-width: 600px) {
#Dicresults {width:100%;font-size:14px;}
#Dicresults th,#Dicresults td {
  padding-top: 8px;
  padding-bottom: 6px;
}
#TableList, #TableLista, #TableListgg {width:100%;font-size:14px;}
#TableList th,#TableList td, #TableLista th, #TableLista td,  #TableListgg th,  #TableListgg td {
  padding-top: 8px;
  padding-bottom: 6px;
}
.tablerowsno{
  text-align:center;
  width: 25px; 
}
#username,#password, #engwordaddtxt, #gerwordaddtxt
{
	width:80%;
}
}

@media screen and (max-width: 600px) {
  .homeindexmenuclass a:not(:first-child) {display: none;}
  .homeindexmenuclass a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .homeindexmenuclass.responsive {position: relative;}
  .homeindexmenuclass.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .homeindexmenuclass.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .termsimg{
	width:90%;
}
}
